@page "/league/{LeagueName}"

@using PoeLeagueTracker.Shared.DTOs;

@inject HttpClient PoeTrackerApi;

@if (leagueNotFound)
{
    <h3>No league by the name of @LeagueName was found on the server.</h3>
}
else if (League == null)
{
    <h3>Loading...</h3>
}
else
{    
    <h3>@League.LeagueName</h3>
    @foreach (var character in Characters)
    {
        <h4>Rank @character.Rank: @character.Name - Level @character.Level (@character.Status)</h4>
    }
}

@code {
    [Parameter]
    public string? LeagueName { get; set; }

    private LeagueDto? League { get; set; }
    private List<CharacterDto> Characters = [];
    private bool leagueNotFound = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await FetchLeague();
    }

    private async Task FetchLeague()
    {
        var response = await PoeTrackerApi.GetAsync($"/league/{LeagueName}");

        if (response.StatusCode == System.Net.HttpStatusCode.NotFound)
        {
            leagueNotFound = true;
        }
        else if (response.IsSuccessStatusCode)
        {
            League = await response.Content.ReadFromJsonAsync<LeagueDto>();
            Characters = League!.Characters.ToList();
        }
    }
}