@using PoeLeagueTracker.Shared
@using PoeLeagueTracker.Shared.DTOs
<div class="ladder-container">
    <div class="corner top-left"></div>
    <div class="corner top-right"></div>
    <div class="corner bottom-left"></div>
    <div class="corner bottom-right"></div>

    <div class="table-scroll">
        <table class="ladder-table">
            <thead>
                <tr>
                    <th class="col-rank">Rank</th>
                    <th>Character</th>
                    <th>Account</th>
                    <th>Class</th>
                    <th class="col-number">Level</th>
                    <th class="col-number">Experience</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CharacterDto character in characters)
                {
                    <tr class="ladder-row">
                    <td class="col-rank"><span class="rank-first" arpg-font">@character.Rank</span></td>
                        <td><a href="@CharacterUrl(character)" target="_blank" class="char-name-@character.Status.ToLower()">@character.Name @StatusText(character)</a></td>
                        <td class="account-name">@character.AccountName</td>
                    <td><span class="class-badge">@character.ClassName</span></td>
                    <td class="col-number level-text">@character.Level</td>
                        <td class="col-number experience-text">@if (character.Level == 100)
                            {
                                <span class="arpg-font" style="color: #cfb53b; font-size: 0.8rem;">MAX LEVEL</span>
                            }
                            else
                            {
                                <ExpBar Percentage="@Convert.ToInt32(PercentToLevel(character))" />
                            }
                        </td>
                        @* <td class="col-number experience-text">@character.Experience.ToString("N0") | (@PercentToLevel(character)%)</td> *@
                </tr> 
                }
            </tbody>
        </table>
    </div>
</div>


@code {
    [Parameter, EditorRequired]
    public required List<CharacterDto> characters { get; set; }

    private string CharacterUrl(CharacterDto character)
    {
        return $"https://www.pathofexile.com/account/view-profile/{character.AccountName.Replace("#", "%23")}/characters?characterName={character.Name}";
    }

    private long PercentToLevel(CharacterDto character)
    {
        if (character.Level == 100) return 100;
        var gainedExp = character.Experience - GameData.LevelExpReq[character.Level];
        var totalLevelExp = GameData.LevelExpReq[character.Level + 1] - GameData.LevelExpReq[character.Level];

        var percent = gainedExp / (totalLevelExp / 100);

        return percent;
    }

    private string StatusText(CharacterDto character)
    {
        if (character.Dead || character.Retired)
        {
            return $"({character.Status})";
        }
        return "";
    }

    // private string StatusClass(CharacterDto character)
    // {
    //     if (character)
    // }
}