@using PoeLeagueTracker.Shared.DTOs
<div class="ladder-container">
    <div class="corner top-left"></div>
    <div class="corner top-right"></div>
    <div class="corner bottom-left"></div>
    <div class="corner bottom-right"></div>

    <div class="table-scroll">
        <table class="ladder-table">
            <thead>
                <tr>
                    <th class="col-rank">Rank</th>
                    <th>Character</th>
                    <th>Account</th>
                    <th>Class</th>
                    <th class="col-number">Level</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CharacterDto character in characters)
                {
                <tr class="ladder-row">
                    <td class="col-rank"><span class="rank-first arpg-font">@character.Rank</span></td>
                    <td><span class="char-name">@character.Name</span></td>
                    <td class="account-name">@character.AccountName</td>
                    <td><span class="class-badge">@character.ClassName</span></td>
                    <td class="col-number level-text">@character.Level</td>
                </tr> 
                }
@*                 <tr class="ladder-row dead-row">
                    <td class="col-rank"><span class="rank-normal">2</span></td>
                    <td>
                        <div class="dead-char-wrapper">
                            <span>💀</span>
                            <span class="char-name dead-text">BowGoBrrr</span>
                        </div>
                    </td>
                    <td class="account-name">ZanaFan99</td>
                    <td><span class="class-badge">🛡️ Deadeye</span></td>
                    <td class="col-number level-text">93</td>
                </tr> *@
            </tbody>
        </table>
    </div>
</div>


@code {
    [Parameter, EditorRequired]
    public required List<CharacterDto> characters { get; set; }
}